{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<link href="{% static 'css/style_admin.css'%}" rel="stylesheet">

	<style>
	header{
		color: black;
		height: 100vh;
		background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("{% static 'images/background.jpg' %}"),no-repeat;
		background-size: cover;
		background-position: center;
	}

	::placeholder{
		color: #EEEEEE;
		opacity: 1;
		font-size: 20px;
		font-weight: normal;
		size: 30px;
		
	}
	</style>
</head>

<body>
	<header>
		<div class="main">
			<div class="logo">
				<!--<img src="{% static 'images/logo.png' %}">-->
			</div>

			<div class="title">
				<h1>Admin</h1>
			</div>
			
			<form action='.' method='GET'>
				<table>
					<tr>
						<td id="username">
							Username
						</td>
						<td id="user">
							<input type="text" size="30" placeholder="Username" autocomplete=off name="username">
						</td>
					</tr>

					<tr>
						<td id="password">
							Password
						</td>
						<td id="pass">
							<input type="text" size="30" placeholder="Password" autocomplete=off name="password">
						</td>
					</tr>
				</table>
				<input type="submit" class="button" value="Sign In">
			</form>

			{% if value == '2' %}
				<p class="check">Invalid Username or Password</p>
	 		{% endif %}

		</div>
	</header>
</body>

